/* src/components/Editor/Editor.module.css */

.textarea {
  width: 100%;
  height: 100%;
  padding-block: var(--gap-md);
  padding-inline: var(--gap-md);
  line-height: 1.9;
  border: none;
  outline: none;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-text);
  font-family: var(--font-family-editor);
  background-color: transparent;
  background-color: var(--color-editor);
}

.textarea:focus {
  outline: none;
  box-shadow: none;
}
