/* src/components/StatusBar/StatusBar.module.css */

.statusBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  height: 32px;
  padding-block: 0;
  padding-inline: var(--gap-sm);
  background-color: var(--color-bg-body);
  font-size: 0.8em;
  user-select: none;
  color: var(--color-status);
}

.item {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.count {
  font-variant-numeric: tabular-nums;
}

.label {
  padding-block-start: 0.05em;
  font-size: 0.75em;
}

.name {
  margin-inline-end: 0.75em;
}
