/* src/components/PreviewViewer/PreviewViewer.module.css */

.previewScroller {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: auto;
  display: flex;
  direction: rtl;
  align-items: center;
  padding-block: var(--gap-md);
  font-family: var(--font-family-preview);
  background-color: var(--color-preview);
}

.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: max-content;
  flex-shrink: 0;
}

.verticalText {
  height: 100%;
  max-height: 650px;
  padding-block: var(--gap-md);
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1.6;
  letter-spacing: 0;
  font-feature-settings: 'normal';
  font-variant-east-asian: full-width;
  white-space: pre-wrap;
  word-break: normal;
  overflow-wrap: break-word;
  line-break: strict;
  hanging-punctuation: force-end;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paragraph.active {
  background-color: rgba(0, 0, 0, 0.04);
  border-right: 2px solid rgba(0, 122, 255, 0.2);
  border-radius: 2px;
}

.zenkakuSpace {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline-block;
  width: 1em;
  height: 1em;
}
