/* src/App.module.css */

.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.inputPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: var(--z-md);
  overflow: hidden;
  background-color: var(--color-editor);
}

.codeWrapper {
  width: 100%;
  height: 100%;
  max-height: 650px;
  margin-block: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.previewPanel {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: var(--z-md);
}
