/* src/Variables.module.css */

:root {
  /* font */
  --font-size-body: 16px;
  --line-height-body: 1.8;
  --font-family-body: Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans JP', sans-serif;
  --font-family-editor: 'Meiryo', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans JP', sans-serif;
  --font-family-preview: 'Yu Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'MS PMincho', serif;

  /* color */
  --color-text-body: #000;
  --color-bg-body: #32302f;
  --color-text: #333;
  --color-white: #fbf1c7;
  --color-preview: #f9f5d7;
  --color-pink: #fff8f8;
  --color-editor: #32302f;
  --color-gray: #ddd;
  --color-shadow: #6e6e6e;
  --color-status: #f2e5bc;

  /* width */
  --editor-height: 650px;
  --editor-half-height: calc(var(--editor-height) / 2);

  /* gap */
  --gap-sm: 2em;
  --gap-md: 3em;
  --gap-lg: 6em;

  /* z-index */
  --z-s: 11;
  --z-md: 49;
  --z-lg: 99;
}
